<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Sign in</h1>
    <div th:if="${param.success}" class="success-message">
        You are registered, now sign in.
    </div>

    <div th:if="${param.error}" class="error-message">
        Incorrect login or password
    </div>
    <div th:if="${param.logout}" class="success-message">
        You are logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Login:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p>No account? <a th:href="@{/register}">Register</a></p>
</div>
</body>
</html>

  